@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  --mobile-w: 20.4375rem;
  --tablet-w: 38rem;
  --desktop-w: 45.625rem;

  --tablet-drawers-w: 57rem;

  --avatar-s: 2.5rem;
}

* {
  font-family: 'Manrope', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-preset-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.015625rem;
  color: var(--grey-900);
}

.text-preset-2-medium {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12;
  color: var(--grey-500);
}

.text-preset-2-bold {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12;
  color: var(--grey-900);
}

.text-preset-3 {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.25rem;
  color: var(--grey-400);
}

.snackbar {
  background-color: var(--grey-900);
  background-color: hsl(217, 19%, 35%);
  display: flex;
  gap: 24px;
  padding: 26px 30px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0rem;
  left: -28px;
  z-index: 2;
}
/* frontend mentor's attribution stuff*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#thisPopup .show {
  visibility: visible;
}

@media screen and (min-width: 48rem) {
  .snackbar {
    background-color: var(--grey-900);
    left: 25rem;
    bottom: 6rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
  }

  .snackbar::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
  }

  #sharelineSharebutton {
    visibility: hidden;
  }
}

@media screen and (min-width: 64rem) {
  .snackbar {
    background-color: var(--grey-900);
    left: 32.5rem;
    bottom: 6rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
  }

  .snackbar::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
  }

  #sharelineSharebutton {
    visibility: hidden;
  }
}
