@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  --mobile-w: 20.4375rem;
  --tablet-w: 38rem;
  --desktop-w: 45.625rem;

  --tablet-drawers-w: 57rem;

  --avatar-s: 2.5rem;
}

* {
  font-family: 'Manrope', sans-serif;
}

.text-preset-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.015625rem;
  color: var(--grey-900);
}

.text-preset-2-medium {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12;
  color: var(--grey-500);
}

.text-preset-2-bold {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12;
  color: var(--grey-900);
}

.text-preset-3 {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.25;
  color: var(--grey-400);
}

/* frontend mentor's attribution stuff*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#thisPopup .show {
  visibility: visible;
}


.share__toast {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  gap: 24px;
  padding: 26px 30px;
  border-radius: 0 0 10px 10px;
  position: relative;
  bottom: -16px;
  left: -16px;
  right: -16px;
  z-index: 2;
}